.container {
    max-width: 1700px;
    font-size: 10px;
}

.container div {
    box-sizing: border-box;
}

.title {
    color: orangered;
    font-family: 'Monoton', cursive;
    font-size: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    top: 10%;
    max-width: 75%;
}

.main-image img {
    width: 100%;
}